name: Publish Docker image to Docker Hub

on:
  workflow_dispatch:

jobs:
  push_to_dockerhub:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: nubalau/aciit_lab2

      - name: Build and push Docker image
        id: push     # <── am adăugat ID aici
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: nubalau/aciit_lab2:latest
          labels: ${{ steps.meta.outputs.labels }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: index.docker.io/nubalau/aciit_lab2
          subject-digest: ${{ steps.push.outputs.digest }}   # <── acum are de unde să ia digestul
          push-to-registry: true
